.navMainPage {
    display: flex;
    padding: 5px;
    background-color: #C0B5AB;
    height: 360px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

#TextContainerMainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    background-image: url('Icones/imagemApi.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFF4EB;
}

main {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*
.containerSignIn {
    display: flex;
    align-items: center;
    margin-right: 20px;
    }
    
    .containerSignUp {
    display: flex;
    align-items: center;
    }

.containerSign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

#VoltarWishList {
    position: absolute;
    left: 5%;
}

.fontNav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
}

#KaynaMain {
    color: #5D412E;
    font-size: 128px;
    margin: 0;
    position: relative;
}

#KaynaContainer {}

#bookstoreContainer {
    margin-left: 50%;
}

#KaynaWishList {
    color: #5D412E;
    font-size: 64px;
    position: relative;
}


#bookstore {
    color: #FFF4EB;
    font-size: 25px;
    margin: 0;
}

#IconeEstrela {
    height: 40px;
    color: #FFF4EB;
}

#IconeEstrelaContainer {
    margin-top: 6%;
}

#WishListFont {
    font-size: xx-large;
}


#MainPageWishlistContainer {
    /* height: 100px; */
    width: 220px;
    background-color: #5D412E;
    border-radius: 50px;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF4EB;

}

/* WishListPageCSS */

.navWishList {
    display: flex;
    padding: 5px;
    background-color: #C0B5AB;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.mainWishList {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(93, 65, 46);
    margin: 20px;
}

#tableContainer,
#formContainer {
    background-color: #5D412E;
    border-radius: 20px;
    padding: 20px;
    width: 45%;
}

.fontNav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url('Icones/imagemApi.jpeg');
    background-color: #cccccc;
}

form input,
form button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #C0B5AB;
    color: #5D412E;
    font-size: large;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

#wishlistTable th,
#wishlistTable td {
    border: 1px solid #FFF4EB;
    padding: 10px;
    text-align: left;
}

#wishlistTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#wishlistContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}