body {
    background-image: url('Icones/imagemApi.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFF4EB;
}

nav {
    display: flex;
    padding: 5px;
    background-color: rgba(192, 181, 171);
    height: 100px;
    align-items: center;
    justify-content: center;
}

#Kayna {
    color: #5D412E;
    font-size: 64px;
    position: relative;
}

main {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(93, 65, 46);
    margin: 20px;
}

#wishlistContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#tableContainer, #formContainer {
    background-color: #5D412E;
    border-radius: 20px;
    padding: 20px;
    width: 45%;
}

#wishlistTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#wishlistTable th, #wishlistTable td {
    border: 1px solid #FFF4EB;
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #C0B5AB;
    color: #5D412E;
    font-size: large;
    cursor: pointer;
}
