{{define "withlist"}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wish List</title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="body">
  <header>
    <nav class="navWishList">
      <a href="index.html" class="fontNav" id="VoltarWishList">Voltar</a>
      <p class="fontNav" id="KaynaWishList">Wish List</p>
    </nav>
  </header>
  <main class="mainWishList">
    <div id="wishlistContainer">
      <div id="tableContainer">
        <table id="wishlistTable">
          <thead>
            <tr>
              <th>Nome do Livro</th>
              <th>Autor</th>
              <th>Quantidade</th>
              <th>Preco</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td>{{.Nome}}</td>
              <td>{{.Autor}}</td>
              <td>{{.Quantidade}}</td>
              <td>{{.Preco}}</td>
              <td><button onclick="onDelete('{{.Id}}')">Remover</button></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <div id="formContainer">
        <form method="POST" action="/insert" id="wishlistForm">
          <input type="text" id="nome" for="nome" placeholder="Nome do Livro" required>
          <input type="text" id="autor" for="autor" placeholder="Autor" required>
          <input type="number" id="qtd" for="quantidade" placeholder="Quantidade" required>
          <input type="number" id="preco" for="preco" placeholder="Preco" required>
          <button type="submit">Adicionar</button>
        </form>
      </div>
    </div>
  </main>
  <script>
    function onDelete(id) {
    let confirmation = confirm("Tem certeza que deseja remover o livro?");
    if (confirmation) {
        fetch('/delete?id=' + id, {
            method: 'DELETE',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Recarregar a página ou atualizar a lista de livros aqui
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    }
}
  </script>
</body>

</html>
{{end}}